/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* coustom css */
.header{
	margin-bottom: 0;

}
.contents-container{
  width:1170px;
  margin :0 auto;
} /* 전체화면에서 가로길이를 고정시켜놓고 컨텐츠를 가운데로 배치하는것 */

.logo-link{
  font-size:14px;
  float: left;
  padding-top: 25px;
  padding-bottom: 0;
}/* 로고링크 폰트사이즈와 왼쪽으로 배치 및 위아래 공백지정*/
.logo-image{
  width:336px;
  height:51px;
} /* 로고이미지 사이즈 조절*/
.contact-number{
  font-size:14px;
  text-align: right;
  float: right;
  padding-top: 25px;
  padding-bottom: 0;
} /*컨텐트박스 오른쪽정렬 및 오른쪽 화면 배치 및 위아래 공백지정*/
.phone-number{
  font-size: 24px;
} /*오른쪽 상단 전화번호 폰트 크기 지정*/
.contact-text{
  color:#888;
  margin-top:4px;
  line-height: 2;
} /*오른쪽 상단 전화번호 아래 글씨 색 및 윗글자와의 공백 지정*/
.clearbox{
  clear:both;
} /* 컨텐츠 왼쪽 정렬후 밑에 따라오는 컨텐츠 없도록 설정*/
.gnb{
  background:#434547;
	margin-top: 0;
} /*메뉴 배경색 지정*/
.gnb-link{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
} /*메뉴 글자색,크기 지정 , 링크 밑줄 삭제*/
.gnb-item{
  border-right: 1px solid #777;
  float: left;
  padding: 20px 40px;
  line-height: 2;
} /* 메뉴 왼쪽으로 정렬 및 칸 공백지정 및 메뉴사이 선표시*/
.gnb-item.item4{
  border-right: 0px;
} /* contacts 칸 오른쪽 선 삭제*/
.gnb-item:hover{
  background-color: #62bfe6;
} /* 메뉴에 마우스 올려놓으면 배경색 변경*/
.contents-01-main-image{
  width: 100%;
} /* 브라우저 영역에 이미지가 채워지도록 사이즈 조절 */
.contents-02-article{
  float: left;
  line-height: 2;
  color: #ffffff;
  background: #62bfe6;
  width:25%;
  padding:30px;
  box-sizing:border-box;
} /*파란색 4개 박스 배경색,글자색,글간격,박스크지(화면크기의 25%차지하도록) 설정*/
.contents-03{
	margin-top: 30px;
}
.contents-03-article{
	float: left;
	width: calc(50% - 50px);
	padding: 50px 0;
} /* 왼쪽정렬, 화면 50% 영역을 지정,안쪽여백 위아래 50px 오왼 0*/
.contents-03-article.bottom{
	border-top: 1px solid #999;
}
.contents-03-article.left{
	margin-right: 50px;
}
.contents-03-article .icon{
	width: 100px;
  height: 100px;
  background: #62bfe6;
	display:block;
	float: left;
} /* 100X100 사이즈 상자에 배경색,display 기본 inline에 block 으로 변경(위아래 높이적용하여 세로로 정렬)하여 설정 */

.contents-03-article .text-container{
	float: left;
	width: calc(100% - 120px);
	margin-left: 20px;:
} /* 클씨 박스 설정 및 정렬 */
.contents-03-article .title{
	font-size: 20px;
	line-height: 1.6;
} /* 제목 글자 크기 설정*/
.contents-03-article .paragraph{
	font-size: 14px;
    line-height: 2;
    color: #777;
    margin-top: 10px;
} /* 본문 글자 크기 및 글자 간격 설정*/
.contents-04-article{
	width: 33.333%;
	float: left;
} /* 박스 크기 및 위치 정렬*/
.contents-04-article .title {
  font-size: 30px;
  margin-bottom: 20px;
} /* 제목 글자 크기 설정*/
.contents-04-article .paragraph {
  font-size: 14px;
  color: #777;
  line-height: 2;
  margin-bottom: 20px;
} /* 본문 글자 크기 및 글자 간격 설정*/
.more-link{
	display: inline-block;
	padding: 20px;
	background: #62bfe6;
	text-decoration: none;
	color: #fff;
}/* read more 박스 만들기 및 밑줄없애기*/
.contents-04-box{
	width: 100%;
	background: #57aacd;
	padding: 20px;
	color: #fff;
	box-sizing: border-box;
}/* help center 박스 설정
box-sizing: border의 크기를 width 와 height 의 값으로 사용할 수 있게 한다 */
.contents-04-box .sub-title{
	border-top: 1px solid #fff;
	font-size:24px;
	padding-top: 20px;
} /*서브타이틀 글씨크기 및 간격조정,밑줄ㄴ */
.contents-04-box .time{
	line-height: 4;
	font-size: 14px;
} /*글씨크기및 간격 조정*/
.contents-04-box .phone-number{
	line-height: 4;
	font-size: 20px;
}/*글씨크기및 간격 조정*/

.contents-04-box.gray-box{
	margin-top: 40px;
	background: #eee;
	float: left;
} /*그레이색 배경 및 정렬, 간격조정*/
.contents-04-box.gray-box .image{
	float: left;
	/* display: block; */
}/* 이미지 위치조정*/
.contents-04-box.gray-box .paragraph{
	float: left;
  width: calc(100% - 100px);
  margin-left: 20px;
} /* 글씨 위치조정 및 간격조정*/
.contents-04{
	margin-bottom: 100px;
} /*footer와의 각격조정*/
.footer{
	background: #434547;
	padding-top: 40px;
} /*footer배경색 지정 및 간격조정*/
.footer .footer-article{
	width: 33.333%;
	float: left;
	padding-top: 20px;
	padding-bottom: 40px;
}/* 아이콘 자리배치 및 간격조정*/
.footer-article .image{
	width: 70px;
  height: 70px;
  display: block;
  background: rgba(136,136,136,.1);
  float: left;
} /*아이콘 박스 생성 및 위치조정*/
.footer-article .paragraph{
	float: left;
	margin-left: 20px;
	padding-top: 20px;
	color: #888;
}/* 아이콘 옆 글씨 크기,색 간격조정*/
.footer-article .phone-number{
	float: left;
	margin-left: 20px;
	padding-top: 20px;
	color: #888;
}/* 아이콘 옆 글씨 크기,색 간격조정*//* 아이콘 옆 글씨 크기,색 간격조정*/
.footer-bottom{
	border-top: 1px solid #888;
	font-size: 14px;
	color: #888;
	padding: 30px;
  margin-top: 20px;
} /* 윗줄생성 및 글씨크기,간격조정*/
